auto_setup/
*.apk
.vscode/
andorid/
php/
ios/
win-client/
server/run/
server/src/log4cxx/
*.tar.gz
win-client/
server/src/log4cxx/
*.o
*/CMakeFiles
*.a

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
